# This rule executes when the Samson usb microphone (prod. id=310, vendor id=17a0) is removed
# It executes a script that removes the mic from the passed through devices of my vm
ACTION=="remove", SUBSYSTEM=="usb", ENV{PRODUCT}=="17a0/310/100", RUN+="/home/jelly/.local/bin/vfio/samsonMic.sh detach"
